mixin button(props = {})
  - const elements = ["button", "a"];
  - const variants = ["primary"];
  
  - const rootClassName = "button";
  - const className = props.class || null;
  - const style = props.style || null;
  - const as = elements.includes(props.as) ? props.as : elements[0];
  - const variant = variants.includes(props.variant) ? props.variant : variants[0];
  - const link = props.as === "a" ? props.link : null;
  - const icon = props.icon || null;
  - const id = props.id || null;
  -
    const classes = [
      rootClassName,
      {[`${rootClassName}:variant-${variant}`]: variant},
      {[`${rootClassName}:with-icon`]: icon},
      className
    ];

  #{as}(
    class = classes
    href = link
    id = id
    style = style
  )
    if icon
      span(class = `${rootClassName}__icon`)
        +icon({
          icon: icon,
          width: 32,
          height: 32
        })
    span(class = `${rootClassName}__text`)
      block