mixin typography(props = {})
  - const availableElements = ["p", "span", "h1", "h4"];
  - const availableVariants = ["body-default", "h1", "h4"];
  - const availableWeights = ["regular", "heavy"];
  - const availableFonts = ["main", "alt"];

  - const rootClassName = "typography";
  - const className = props.class || null;
  - const style = props.style || null;
  - const as = availableElements.includes(props.as) ? props.as : availableElements[0];
  - const variant = availableVariants.includes(props.variant) ? props.variant : variants[0];
  - const font = availableFonts.includes(props.font) ? props.font : null;
  - const weight = availableWeights.includes(props.weight) ? props.weight : null;
  -
    const classes = [
      rootClassName,
      {[`${rootClassName}:variant-${variant}`]: variant},
      {[`${rootClassName}:font-${font}`]: font},
      {[`${rootClassName}:weight-${weight}`]: weight},
      className
    ];

  #{as}(
    class = classes
    style = style
  )
    block