mixin typography(props = {})
  - const elements = ["p", "span", "h1", "h4"];
  - const variants = ["body-default", "h1", "h4"];
  - const fonts = ["main", "alt"];
  - const weights = ["regular", "heavy"];

  - const rootClassName = "typography";
  - const className = props.class || null;
  - const style = props.style || null;
  - const as = elements.includes(props.as) ? props.as : elements[0];
  - const variant = variants.includes(props.variant) ? props.variant : variants[0];
  - const font = fonts.includes(props.font) ? props.font : null;
  - const weight = weights.includes(props.weight) ? props.weight : null;
  -
    const classes = [
      rootClassName,
      {[`${rootClassName}:variant-${variant}`]: variant},
      {[`${rootClassName}:font-${font}`]: font},
      {[`${rootClassName}:weight-${weight}`]: weight},
      className
    ];

  #{as}(
    class = classes
    style = style
  )
    block