mixin introSection(props = {})
  - const rootClassName = "intro-section";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const button = props.button || {};
  - const counter = props.counter || [];
  -
    const classes = [
      rootClassName,
      className,
      "py-144",
      "xl:py-84",
      "sm:py-32"
    ];

  // Start: [Section: intro-section]
  section(
    class = classes 
    style = style
  )
    // Start: [Container]
    +container()

      // Start: [Stack: main]
      +stack({class: [`${rootClassName}__main`, "flex-direction-column", "lg:pb-64"]})
        +typography({
          class: [`${rootClassName}__heading`, "mb-32"],
          as: "h1", 
          variant: "h1"
        })
          each str in heading
            span
              span #{str}
        
        // Start: [Stack: description] 
        +stack({class: [
          `${rootClassName}__description`,
          "align-items-center",
          "sm:flex-direction-column-reverse",
          "pr-244",
          "mb-64",
          "md:pr-0"
        ]})
          +button({
            class: [
              `${rootClassName}__button`, 
              "mr-44", 
              "sm:mt-24", 
              "sm:mr-0"
            ],
            icon: "arrow-up-right",
            as: "a",
            link: button.link
          }) #{button.label}
          +typography({class: `${rootClassName}__description`, variant: "body-default"}) 
            | #{content.intro.description}

        // End: [Stack: description] 

        // Start: [Stack: counter]
        +stack({class: [`${rootClassName}__counter`, "sm:justify-content-center"]})
          each item in counter
            +stack({class: [`${rootClassName}__counter-item`, "flex-direction-column"]})
              +typography({class: "mb-12", variant: "body-default"}) 
                | #{item.label}
              +typography({as: "span", variant: "h4"}) 
                | #{item.value} K
  
        // End: [Stack: counter] 
      // End: [Stack: main]

      // Start: [Stack: slider] 
      +stack({class: `${rootClassName}__slider`})
        div(
          class = [`${rootClassName}__slider-item`, "nft-img"]
          style = `background-image: url(${require(`../../../assets/images/nft-1.webp`)})`
        )
        div(
          class = [`${rootClassName}__slider-item`, "nft-img"]
          style = `background-image: url(${require(`../../../assets/images/nft-2.webp`)})`
        )
        div(
          class = [`${rootClassName}__slider-item`, "nft-img"]
          style = `background-image: url(${require(`../../../assets/images/nft-3.webp`)})`
        )
        
      // End: [Stack: slider] 

    // End: [Container]

  // End: [Section: intro-section]